body {
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  background: url('../images/cari.png') no-repeat center center/cover;
  height: 90vh;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
  background-color: #e9f5e9;
}

/* .nav-link{
color: #fff;
} */

.navbar-nav .nav-link {
  color: #ffffff !important;
  transition: 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #28a745 !important;
  text-decoration: underline;
}

.car-container {
  perspective: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car {
  width: 200px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(20deg) rotateY(20deg);
  animation: rotateCar 10s linear infinite;
}

.top, .body {
  background: #0f5132;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.top {
  height: 40px;
  width: 100px;
  top: 0;
  border-radius: 5px 5px 0 0;
}

.body {
  height: 60px;
  width: 200px;
  top: 40px;
  border-radius: 10px;
}

.wheel {
  width: 30px;
  height: 30px;
  background: #111;
  border-radius: 50%;
  position: absolute;
  bottom: -15px;
}

.wheel.front {
  left: 20px;
}

.wheel.back {
  right: 20px;
}

@keyframes rotateCar {
  0% { transform: rotateX(20deg) rotateY(0deg); }
  100% { transform: rotateX(20deg) rotateY(360deg); }
}

.card .display-6 {
  font-size: 2.2rem;
  font-weight: bold;
}


/* style.css */
.table thead th {
  vertical-align: middle;
}
.modal .form-control {
  border-radius: 0.375rem;
}




